
div#content  div.annonce{
	background-color:purple;
	width: 100%;
}

div#content{
	background-color: #000;
}

div#content div{
	display: inline-block;
	width: 48%;
}
div#content div h1,p, iframe{
	margin: 35px;
}

div#content div.leftbox{
	background-color: yellow;
	vertical-align: top;

}


div#content div.rightbox{
   
   background-color: green;
}


nav.menu-nav ul li.btn{
	display: inline-block;
}
nav.menu-nav ul li.btn{
	list-style-type: none;


}
nav.menu-nav ul li.btn a{
	color: white;
	background-color: red; 
	text-decoration: none;
	padding: 10px;
	font-size: 100%;
}
nav.menu-nav ul li.btn:hover a{
	color: red;
	background: white;
	transition: 0.3s all;
}
 
 footer{
 	background-color: red;
 }


/*p.welcome{
   color: #fff;
   background-color: #E21C44;
}

p.vivacss{
	color: #000;
	font-weight: bold;
}

 body{

 	background-color:#777;
 }

 h2.headline{
 	font-size: 50px;
 	padding-left: 200px;
 }*/